<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <!--SQL Server-->
      <add connectionString="Data Source=(LocalDB)\MSSqlLocalDB;Initial Catalog=DBRech-a-Car;Integrated Security=True;Pooling=False"
           name="SQLServer"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
			<system.data>
			<DbProviderFactories>
				<remove invariant="System.Data.SqlClient" />
				<add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Providerfor SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</DbProviderFactories>
		</system.data>
    <appSettings>
      <!--Escolher tipo de banco-->
      <add key="bancoDeDados" value="SQLServer"/>
		<add key="userAdmin" value="admin"/>
		<add key="senhaAdmin" value="admin123"/>
    </appSettings>
</configuration>