<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <!--SQL Server-->
      <add connectionString="Data Source=(LocalDB)\MSSqlLocalDB;Initial Catalog=DBRech-a-Car;Integrated Security=True;Pooling=False"
           name="SQLServer"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
      <!--Escolher tipo de banco-->
      <add key="bancoDeDados" value="SQLServer"/>
		<add key="userAdmin" value="admin"/>
		<add key="senhaAdmin" value="admin123"/>
    </appSettings>
</configuration>